@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#telefone{
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../pacote-d013/imagens/frame-iphone.png) no-repeat;
}
iframe{
    width: 267px;
    height: 468px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}